.profile_sidebar {
	flex-basis: 220px;
	min-width: 220px;
	border-radius: 7px;
	overflow: hidden;
	height: auto;
	background: var(--background);
	margin-right: 7px;
}

.items {
	padding: 7px 7px;
	overflow: hidden;
	padding-bottom: 1rem;
}

.items li {
	padding: 12px 1rem;
	width: 100%;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	border-radius: 5px;
	font-size: 14px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	column-gap: 7px;
}

.items li:hover {
	background: var(--pure);
	color: var(--dark);
	transition: all 0.2s;
	box-shadow: 5px 5px 10px #e6dbdb, -5px -5px 10px #ffffff;
}

.items li.active {
	background: var(--pure);
	color: var(--dark);
	box-shadow: 5px 5px 10px #e6dbdb, -5px -5px 10px #ffff
}




@media only screen and (max-width: 600px) {
	.profile_sidebar {
		margin-right: 0;
		margin-bottom: 6px;
		flex-basis: auto;
	}

	.items {
		display: flex;
		padding: 4px;
		gap: 4px;
	}
	.items li {
		padding: 6px;
		margin-bottom: 0;
		justify-content: center;
	}
	.items li svg {
		display: none;
	}

}