
.admin .all-member .wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.admin .all-member h1 {
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 1rem;
}

.admin .all-member .item {
	background: var(--dark);
	color: white;
	padding: 1rem;
	border-radius: 7px;
	margin-bottom: 1rem;
}


@media only screen and (max-width: 600px) {
	.admin .all-member .wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
	.admin .all-member .item {
		flex-grow: 1;
		margin-bottom: 0rem;
	}
}




