p.not_set {
	text-align: center;
}

.meal_summary {
	background: var(--background);
	padding: 1rem;
	margin-top: 2rem;
	border-radius: 7px;
	box-shadow: var(--box-shadow);
}

.meal_summary .row1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}
.meal_summary .row1 .item {
	background: var(--smooth_p);
	padding: 1rem;
	border-radius: 7px;
	color: var(--pure);
	background-repeat: no-repeat !important;
	background-size: 110px !important;
	background-position: right -25px top -24px !important;
	background-blend-mode: overlay;
}

.meal_summary .row1 .item.month {
	background: var(--smooth_s);
}

.meal_summary .item h3 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 13px;
	color: #d9d9d9;
	text-align: left;
}

.meal_summary .item h2 {
	font-weight: 300;
	font-size: 20px;
}


table {
	width: 100%;
	background: var(--background);
	margin-top: 1rem;
	font-size: 14px;
}

tr {
	background: var(--pure);
}

tr.total {
	background: #7a7f7b;
	color: var(--pure);
	font-weight: bold;
}

th {
	background: var(--primary);
	color: var(--pure);
	padding: 7px;
	text-align: center;
}

td {
	padding: 7px;
	text-align: center;
}

td div {
	display: flex;
	align-items: center;
}

td img {
	border: 1px solid #3b39391a;
	height: 36px;
	margin-right: 8px;
	width: 36px;
	border-radius: 3px;
}

td .name {
	text-transform: capitalize;
}

.bottom_section {
	margin-top: 1rem;
	display: flex;
	justify-content: flex-end;
}

.next_prev {
	display: flex;
	gap: 0.6rem;
}

.details button a {
	color: var(--pure);
}

@media only screen and (max-width: 600px) {
	.meal_summary {
		padding: 0.5rem;
	}

	.meal_summary .row1 {
		display: flex;
		gap: 8px;
		flex-wrap: wrap;
	}

	.meal_summary .row1 .item {
		margin: 0;
		padding: 10px;
		flex-grow: 1;
	}

	th {
		font-size: 12px;
		font-weight: 300;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 3px 3px;
	}

	td {
		padding: 0px;
		font-size: 12px;
	}

	td div {
		width: 100px;
		padding: 7px 0;
	}

	td a {
		display: flex;
	}

	td img {
		width: 24px;
		height: 24px;
		margin-right: 3px;
	}

	td .name {
		font-size: 12px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}