
.admin {
	margin-top: 3rem;
}
.admin main {
	width: 100%;
}
.admin .container {
	display: flex;
	background: var(--background);
	padding: 1rem;
	border-radius: 7px;
	align-items: flex-start;
}
	

@media only screen and (max-width: 600px) {
	.admin {
		margin-top: 1.5rem;
	}
	.admin .container {
		padding: 7px;
	}
}