.edit_profile {
    background: var(--background);
    border-radius: 7px;
    width: 70%;
    margin: 0 auto;
}
.edit_profile .form_wrapper {
	display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
}
.edit_profile .form-group {
	flex-grow: 1;
}
.edit_profile form label {
	margin-bottom: 3px;
}











