
.home {
	min-height: calc(100vh - 100px);
	background: var(--pure);
	padding-bottom: 3rem;
}

.home_all_headers {
	text-align: center;
	margin-top: 4rem;
	font-weight: 400;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
	.home_all_headers {
		text-align: center;
		margin-top: 4rem;
		font-weight: 400;
		margin-bottom: 7px;
		font-size: 6vw;
	}
}
