.manager_panel {
	margin-top: 3rem;
	display: flex;
	gap: 1rem;
}

.sidebar_toggle {
	display: none;
}

.manager_msg {
	text-align: center;
	margin-top: 3rem;
}

.manager_msg h2 {
	font-weight: 400;
}

.manager_msg p {
	font-size: 14px;
	margin-top: 5px;
}

.manager_panel .manager_sidebar {
	flex-basis: 220px;
	min-width: 220px;
	border-radius: 7px;
	overflow: hidden;
	height: auto;
	background: var(--background);
}

.manager_panel .running_manager {
	background: var(--primary);
	padding: 14px 1rem;
	color: var(--pure);
	border-radius: 5px;
	margin-bottom: 7px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.manager_panel .running_manager .top {
	display: flex;
	flex-direction: column;
	margin-bottom: 12px;
}

.manager_panel .running_manager .top small {
	color: #c2c2c2;
	font-weight: 300;
	font-size: 13px;
}

.manager_panel .running_manager .top h1 {
	font-size: 18px;
	font-weight: 300;
}

.manager_panel .running_manager .details p {
	font-size: 13px;
}

.manager_panel .running_manager .details p span {
	margin-left: 7px;
	color: #b5b5b5;
}

.manager_panel .running_manager .hamburger {
	display: none;
}

.manager_panel .section {
	padding:7px;
	overflow: hidden;
	padding-bottom: 1rem;
	transition: all 0.2s;
}

.manager_panel .section ul li {
	padding: 12px 1rem;
	width: 100%;
	cursor: pointer;
	user-select: none;
	border-radius: 5px;
	font-size: 14px;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	height: auto;
	transition: all 0.2s;
}

.manager_panel .manager_sidebar li svg {
	font-size: 18px;
	margin-right: 9px;
}

.manager_panel .section ul li.active {
	background: var(--pure);
	color: var(--dark);
	box-shadow: 5px 5px 10px #e6dbdb, -5px -5px 10px #ffff
}

.manager_panel .section ul li:hover {
	background: var(--pure);
	color: var(--dark);
	transition: all 0.2s;
	box-shadow: 5px 5px 10px #e6dbdb, -5px -5px 10px #ffffff;
}

.manager_panel .components {
	flex-grow: 1;
}




@media only screen and (max-width: 600px) {
	.manager_panel {
		margin-top: 1.5rem;
		flex-direction: column;
		gap: 0;
	}

	/* .sidebar_toggle {
		position: absolute;
		left: 100%;
		background: var(--primary);
		display: flex;
		padding: 1px;
		color: var(--pure);
		height: 80px;
		border-radius: 0px 7px 7px 0px;
		top: 0;
	} */
	.manager_panel .running_manager {
		margin-bottom: 0px;
	}

	.manager_panel .running_manager {
		padding: 10px 0.8rem;
	}

	.manager_panel .running_manager .details {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.manager_panel .running_manager .hamburger {
		background: #05050540;
		border-radius: 4px;
		cursor: pointer;
		display: flex;
	}

	.manager_panel .manager_sidebar {
		overflow: unset;
		flex-basis: unset;
		margin-bottom: 7px;
		border-radius: 0;
	}
	.manager_panel.active .manager_sidebar {
		margin-bottom: 0px;
	}

	.manager_panel.active .section {
		padding: 0 7px;
		padding-bottom: 0;
		margin-bottom: 7px;
	}

	.manager_panel.active .section ul li {
		padding: 0px 1rem;
		margin-bottom: 0px;
		height: 0;
	}

	/* .manager_panel .running_manager {
		border-radius: 0px;
	} */
}