.manager_panel {
	margin-top: 3rem;
}
.running_manager {
	background: var(--primary);
	padding: 14px 1rem;
	color: var(--pure);
	margin-bottom: 2px;
}

.running_manager .top {
	display: flex;
	justify-content: space-between;
}

.running_manager .top h1 {
	font-size: 19px;
	font-weight: 500;
	margin-bottom: 5px;
}
.running_manager .details p {
	font-size: 13px;
}
.running_manager .details p span {
	margin-left: 7px;
	color: #b5b5b5;
}


.section {
	margin-bottom: 1rem;
}

.section ul {
	display: flex;
	justify-content: space-around;
	gap: 3px;
}

.section ul li {
	padding: 15px 1rem;
	width: 100%;
	text-align: center;
	cursor: pointer;
	background: var(--background);
	user-select: none;
}

.section ul li.active {
	background: var(--primary);
	color: var(--pure);
}

.section ul li:hover {
	background: var(--primary);
	color: var(--pure);
	transition: all 0.2s;
}