.profile {
	display: flex;
	gap: 1rem;
    margin-top: 3rem;
}
.profile .info {
	flex-grow: 1;
}
.info .details {
	background: var(--background);
	border-radius: 7px;
	padding: 7px;
}
.info .details li {
	padding: 14px 1rem;
	text-transform: capitalize;
	font-size: 14px;
	color: var(--marin);
    font-weight: 300;
    background: var(--pure);
    margin-bottom: 5px;
    border-radius: 3px;
}
.info .details li span {
	width: 160px;
	display: inline-block;
	font-weight: 500;
    color: var(--dark);
}

.info .details button {
    margin: 7px 7px;
}







