
.header {
	box-shadow: var(--box-shadow);
	background-color: var(--background);
}

.header .logo {
	font-size: 28px;
	color: var(--primary);
}

.header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}
.header nav ul {
	display: flex;
	font-size: 14px;
}
.header nav ul a {
	padding: 7px 1rem;
	text-transform: uppercase;
}
.header nav ul a.active {
	color: var(--dark);
}



