.mess-members {
	background: var(--background);
	border-radius: 7px;
	padding: 1rem;
	box-shadow: var(--box-shadow);
}

.mess-members .wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	grid-gap: 1.5rem;
}
.mess-members .wrapper .card {
	background: var(--marin);
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	position: relative;
}
.mess-members .role {
	background: yellow;
	padding: 2px 7px;
	font-size: 11px;
	font-weight: 300;
	position: absolute;
	left: 13px;
	border-radius: 3px;
	text-transform: uppercase;
	top: 13px;
}
.mess-members .card .img {
	width: 50%;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 2rem;
	aspect-ratio: 1;
	background: black;
}
.mess-members .card .img img {
	height: 100%;
}
.mess-members .card .info {
	padding: 0 0.5rem;
	color: var(--pure);
	margin-top: 10px;
	text-align: center;
	width: 100%;
	min-height: 75px;
}
.mess-members .card .info h4 {
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
}
.mess-members .card .info p.address {
	font-weight: 300;
	font-size: 13px;
	color: #b7b7b7;
}

.mess-members .card_btn {
	display: flex;
}
.mess-members .card_btn button {
	margin: 5px;
	padding: 5px 9px;
	font-size: 12px;
	font-weight: 300;
}
.mess-members .card_btn .message a {
	color: var(--pure);
}
.mess-members .card_btn .profile_link a {
	color: var(--dark);
}