.sidebar {
	width: 350px;
	background: var(--background);
	border-radius: 7px;
}
.user-info {
	display: flex;
	align-items: center;
	padding: 1rem;
	flex-direction: column;
	text-align: center;
}
.user-info img {
	width: 100px;
	height: 100px;
	margin-right: 1rem;
	border-radius: 50%;
	margin-bottom: 0.6rem;
}
.user-info .inner h4 {
	text-transform: uppercase;
	font-size: 24px;
}
.user-info .inner p {
	color: #3c6d7d;
	font-size: 14px;
	font-weight: 300;
	margin-top: 7px;
}

.user-info .bottom {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
}









