
.expense {
    background: var(--background);
    border-radius: 7px;
    padding: 1rem;
    box-shadow: var(--box-shadow);
}

.expense .top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;
}
.expense .top h3 {
	font-weight: 400;
}
.expense .top button {
	display: flex;
	align-items: center;
	gap: 7px;
}

.expense .new_entry {
	margin-bottom: 2rem;
}
.expense .new_entry .wrapper {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
}

.expense .new_entry input {
	padding: 9px 5px;
	padding-left: 10px;
	width: 100%;
}


.expense .list,
.head {
    display: flex;
    justify-content: space-between;
}

.head {
    background: var(--primary);
    color: white;
}

.head li,
.list li {
    width: 100%;
    padding: 3px;
    padding-left: 1rem;
}

.list li {
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: 1px solid #eaeaea;
    display: flex;
}

.list li span {
	background: var(--primary);
	width: 20px;
	height: 20px;
	display: flex;
	margin: 3px;
	color: white;
	justify-content: center;
	align-items: center;
    cursor: pointer;
}

.expense-list .delete {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #000000bf;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.3s;
	z-index: 100;
}
.expense-list .delete > div {
	background: red;
	border-radius: 12px;
	overflow: hidden;
	text-align: center;
	padding: 2rem;
}

.expense-list .show {
	transform: scale(1);
}

.expense-list .delete > div button {
	margin: 1rem;
}


@media only screen and (max-width: 600px) {
	.expense .new_entry .wrapper {
		flex-wrap: wrap;
	}
	.expense .new_entry .wrapper > div {
		flex-grow: 1;
		min-width: 200px;
	}
}

