.expense {
	background: var(--background);
	border-radius: 7px;
	box-shadow: var(--box-shadow);
	overflow: hidden;
}
.expense .top button {
	display: flex;
	align-items: center;
	gap: 7px;
}

.expense .new_entry {
	padding: 1rem;
}
.expense .new_entry .wrapper {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.expense .new_entry .wrapper > div {
	flex: 1;
	flex-basis: 200px;
}
.expense .new_entry input {
	padding: 9px 5px;
	padding-left: 10px;
	width: 100%;
}


.expense .expense-list {
	padding: 1rem;
}
.expense .list {
	display: flex;
	justify-content: space-between;
	padding: 3px 7px;
	background: var(--pure);
	margin-top: 3px;
}

.expense .list li {
	font-size: 14px;
	text-transform: capitalize;
	display: flex;
	width: 100%;
	align-items: center;
}
.expense .list li:last-child {
	width: 15%;
}
.expense .list .expense_action {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.expense .list .expense_action .action_btn {
	border-radius: 5px;
	padding: 5px;
	display: none;
	position: absolute;
	top: 110%;
	background: var(--pure);
	box-shadow: var(--box-shadow);
	right: 0;
}
.expense .list .expense_action.active .action_btn {
	display: flex;
	flex-direction: column;
	gap: 3px;
	background: var(--primary);
	z-index: 10;
}
.expense .list li span {
	background: var(--background);
	display: flex;
	align-items: center;
	cursor: pointer;
	min-width: 120px;
	padding: 3px 7px;
}

.expense-list .delete {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: #000000bf;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.3s;
	z-index: 100;
}
.expense-list .delete > div {
	background: red;
	border-radius: 12px;
	overflow: hidden;
	text-align: center;
	padding: 2rem;
}

.expense-list .show {
	transform: scale(1);
}

.expense-list .delete > div button {
	margin: 1rem;
}


@media only screen and (max-width: 600px) {
	.expense .new_entry .wrapper {
		flex-wrap: wrap;
	}
	.expense .list li {
		font-size: 13px;
	}
	.expense .new_entry .wrapper > div {
		flex-grow: 1;
		min-width: 200px;
	}
}

