
.meal {
    background: var(--background);
    border-radius: 7px;
    box-shadow: var(--box-shadow);
	overflow: hidden;
}
.meal .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--primary);
	padding: 12px 1rem;
}
.meal .top h3 {
	font-weight: 400;
	color: var(--pure);
}
.meal .new_entry {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	margin: 1rem;
}
.meal .new_entry form {
	width: 230px;
	background: var(--primary);
	padding: 1rem;
	border-radius: 7px;
	height: 200px;
}
.date_field {
	text-align: center;
}
.new_entry form button {
	width: 100%;
}
.meal .new_entry form .wrapper {
	display: grid;
	gap: 1rem;
	flex-wrap: wrap;
}
.meal .new_entry form > input {
    padding: 9px 5px;
    padding-left: 10px;
}
.new_entry .entry_lists {
	background: var(--secondary);
	flex: 2 1;
	border-radius: 7px;
	height: auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.empty_msg {
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	margin-top: 2rem;
	margin-bottom: 2rem;
	color: var(--pure);
}
.new_entry .entry_lists .entry_header {
    margin-bottom: 0.7rem;
}
.new_entry .entry_lists .entry_header input[type="date"] {
    padding: 0 1rem;
}
.new_entry .entry_lists .entry_header h2 {
	font-weight: 300;
	text-transform: uppercase;
	color: var(--smooth_s);
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-size: 18px;
}
.new_entry .entry_lists .lists_wrapper {
	margin-bottom: 1rem;
}
.meal .new_entry .entry_lists ul {
	display: grid;
	background: var(--background);
	border-radius: 2px;
	padding: 3px 1rem;
	margin: 4px 0;
	text-transform: capitalize;
	font-size: 13px;
	grid-template-columns: 1.2fr 2fr 0.1fr;
}
.new_entry .entry_lists ul li {
	display: flex;
}
.new_entry .entry_lists ul li .remove {
	cursor: pointer;
}
.new_entry .entry_lists ul li:nth-child(2) {
	gap: 1rem;
}
.new_entry .entry_lists ul li:nth-child(2) p {
	background: #000;
	padding: 0px 7px;
	color: var(--pure);
	border-radius: 3px;
	display: flex;
	align-items: center;
	width: 60px;
	justify-content: space-around;
}
.new_entry .entry_lists ul p.lunch {
	background: #1663ff !important;
}


.meal #name_select {
	padding: 9px 1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-transform: capitalize;
	width: 100%;
}
.meal #name_select option {
	text-transform: capitalize;
}
.meal .meal_entry {
	display: flex;
	gap: 1rem;
	justify-content: center;
}
.meal .meal_entry input {
	padding: 3px;
	padding-left: 1rem;
}
.meal_entry input {
	width: 50%;
}
.meal .list,
.meal .head {
    display: flex;
    justify-content: space-between;
}

.meal .head {
    background: var(--secondary);
    color: white;
}

.meal .head li,
.meal .list li {
    width: 100%;
    padding: 3px;
    padding-left: 1rem;
}

.meal .list li {
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: 1px solid #eaeaea;
    display: flex;
}

.meal .list li span {
	background: var(--primary);
	width: 20px;
	height: 20px;
	display: flex;
	margin: 3px;
	color: white;
	justify-content: center;
	align-items: center;
    cursor: pointer;
}





@media only screen and (max-width: 600px) {
	.new_entry .entry_lists {
		min-width: 260px;
	}
	.meal .new_entry form {
		flex-grow: 1;
	}
}

