@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #0055ff;
    --smooth_p: #2872ff;
    --secondary: #00ab0e;
    --smooth_s: #54d35f;
    --pure: #fff;
    --dark: #000;
    --background: #fff3f3;
    --marin: #4b4453;
    --danger: #ff2200;


    --box-shadow: 7px 7px 7px #a2a0a031;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}


img {
    width: 100%;
    object-fit: cover;
}

input {
    padding: 5px 7px;
    border-radius: 3px;
    border: 0;
    outline: none;
    width: 100%;
}

button {
    padding: 7px 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

.btn1 {
    background: var(--secondary);
    color: var(--pure);
}

.btn2 {
    background: var(--primary);
    color: var(--pure);
}

.btn1:hover,
.btn2:hover {
    color: var(--dark);
    transition: color 0.3s;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: blue;
}

p {
    font-weight: 300;
}

select {
    cursor: pointer;
    text-transform: capitalize;
    padding: 7px 12px;
    border: 0;
    border-radius: 5px;
}
.container {
    width: 85%;
    margin: 0 auto;
}
.min_height {
    min-height: calc(100vh - 200px);
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
} 



