@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@200;300;400;500;700;800;900&display=swap');

.loading {
	text-align: center;
	padding: 1rem;
}

.loading img {
	width: 80px;
}

.notice_board {
	background: var(--background);
	margin: 0 auto;
	padding: 1rem;
	margin-top: 3rem;
	border-radius: 7px;
	box-shadow: var(--card_shadow);
	position: relative;
	overflow: hidden;
}
.notice_board .background {
	width: 320px;
	aspect-ratio: 1;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: -2rem;
	left: -4rem;
	z-index: 2;
	opacity: 0.5;
}

.notice_board .home_all_headers {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
	position: relative;
	z-index: 10;
}

.notice {
	padding: 1rem;
	position: relative;
	z-index: 10;
}

p.notice-body {
	text-align: justify;
	font-size: 18px;
	font-family: Noto Serif Bengali, 'Poppins';
}
.notice-body::first-letter {
	font-size: 80px;
	font-weight: 500;
	float: left;
	color: #2f2f2f;
	letter-spacing: normal;
	line-height: 12px;
}
.notice p.empty {
	text-align: center;
}

.notice_bottom {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	color: gray;
	align-items: center;
}

.notice_bottom p {
	text-transform: capitalize;
	font-size: 12px;
}

.notice_bottom strong {
	text-transform: capitalize;
	font-size: 13px;
}

.previous_notice {
	text-align: right;
	padding: 1rem;
}


@media only screen and (max-width: 600px) {
	.notice_board {
		padding: 7px;
		margin-top: 2rem;
	}
	.notice_board .background {
		width: 300px;
		left: -5rem;
	}
	.notice {
		padding: 10px;
	}
	p.notice-body {
	font-size: 17px;
	font-weight: 400;
}
	.previous_notice {
		display: none;
	}
}